section.profile-info-block {
  display: inline-block;
  background-color: lightblue;
}

.profile-info-block .row {
  display: flex;
  /* height: 80px; */
  gap: 10px;
} 

/* .row p:not(:last-of-type) {
  margin-right: 10px;
} */

/* if flex, use gap property */
/* for each item, add margins */